*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:black;
}

a{
    color: #fff;
    text-decoration: none;
}
.navbar{

    display: flex;
    padding: 20px 9% 0;
    justify-content: space-between;
    align-items: center;
    
    
}

.navbar .logo{
    font-size: 40px;
    font-weight: 700;
    color: rgb(15, 209, 77);
    
}

.navbar ul{
    display: flex;

}

.navbar ul li{
    padding-left: 35px;
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li .active  {
    color: rgb(9, 125, 9);

}


.home{
    display: flex;
    padding: 30px 9% 0;
    align-items: center;
    height: 100vh;
}

.home .home-info h4{
    font-size: 25px;
    color: rgb(236, 139, 20);
    font-weight: bold;
}
    .home .home-info h1{
    font-size: 40px;
    color: rgb(15, 209, 77);
    font-weight: bold;
}
    


.home .home-info h2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(236, 139, 20);
    text-align: left;

}

.home .home-info p{
    font-size: 16px;
    color: white;
}

.home .home-info .btn-grp{
    align-items: center;
    padding: 20px;
    display: flex;
}

.home .home-info .btn-grp .button{
    background-color: rgb(236, 139, 20); 
    padding: 15px 30px;
    border-radius: 20px;
    border: 2px dotted rgb(236, 139, 20);
    transition: 3s;
    box-shadow: 0 0 10px rgb(236, 139, 20);
}

.home .home-info .btn-grp:hover .button{
    background-color: transparent;
    box-shadow: none;
    
} 

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 25px;
    color: white;
    background-color: rgb(236, 139, 20);
    border-radius: 50%;
    border: 2px solid rgb(236, 139, 20);
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    background-color: transparent;
    color: rgb(236, 139, 20);
}


img{
     border-radius: 50%;
    background: rgb(241, 142, 13) ;
     max-width: 275px;
     height: 225px;
     padding: 10px;
     border: 1px;
     display: block;
     margin-left: 30px;
     opacity: 1;
     object-fit: cover;
     -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);

     
      
}

 /* The about section*/
 .about{
    padding: 30px;
    display: flex;
   align-items:center;
    height: 100vh;
    color: white;
    margin-bottom: 50px
    

}

.about .about-me h1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(15, 209, 77);
    

}


.about .about-me p{
    font-size: 16px;
    color: white

}
 /* Skills table section */
 .skills {
    max-width: 900px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: left;
    font-size: 35px;
    color:rgb(236, 139, 20);
    margin-bottom: 20px;
    
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
}

.box {
    background-color:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(15, 209, 77);
}

h3 {
    font-size: 20px;
    color: rgb(15, 209, 77);
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 16px;
    margin-bottom: 5px;
    color:white;
}





